/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Fraunces:ital,wght@0,500;0,600;0,700;1,600&display=swap");

/*===== VARIABLES CSS =====*/
$header-height: 3rem;

/*========== Colors ==========*/
$body-color: #fef6ea;
$text-color: #484847;
$text-color-alt:#000000;
$primary-color: #fabea1;
$seconday-color: #c2dddf;
$tertiary-color: #f8e177;

/*========== Font-size/family ==========*/
$body-font: "DM Sans", sans-serif;
$biggest-font-size: 1.8rem;
$h1-font-size: 1.5rem;
$h2-font-size: 1.25rem;
$h3-font-size: 1.125rem;
$normal-font-size: 0.938rem;
$small-font-size: 0.853rem;
$smaller-font-size: 0.75rem;

/*========== Font weights ==========*/
$font-medium: 500;
$font-semi-bold: 600;
$font-bold: 700;

/*========== Margins ==========*/
$mb-1: 0.5rem;
$mb-2: 1rem;
$mb-3: 1.5rem;
$mb-4: 2rem;
$mb-5: 2.5rem;
$mb-6: 5rem;

/*========== z index ==========*/
$z-tooltip: 10;
$z-fixed: 100;
